.all-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 200px;
    margin-top: 25px;
    width: 1280px;
}

.all-buttons > div {
    margin-bottom: 30px;
}

p {
    color: white;
}

.all-qualities {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 545px;
}

.all-around-quality {
    margin-right: 545px;
    display: flex;
}