meter {
    width: 71.09vw;
    height: 30px;
    border-radius: 5px;
    background: #F95151;
    margin-left: 13.1vw;
    -webkit-appearance: none;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background:#53F953;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background:#53F953;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column;
}

.imgs {
    display: flex;
    margin-left: 12.99vw;
    margin-top: 75px;
    margin-bottom: 5px;
}

.imgs > img {
    /* margin-right: 14.14vw; */
    width: 47px;
    height: 47px;
}

#disciple {
    width: auto;
}

.values {
    display: flex;
    margin-left: 13.3vw;
    color: white;
    font-size: large;
}

#zero {
    margin-right: 16.64vw;
}

#twentyfive {
    margin-right: 15.86vw;
}

#fifty {
    margin-right: 15.55vw;
}

#seventyfive {
    margin-right: 16.37vw;
}