nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    font-family: 'Inter', sans-serif;
}

nav > img {
    width: 47px;
    height: 47px;
    margin: 0px 0.4vw 0px 2.3vw;
}

nav > h1 {
    color: #FFDC00;
    font-weight: 700;
}

nav > h3 {
    margin: auto;
    margin-right: 2.6vw;
    color: white;
    font-weight: 700;
}

.jeffrey {
    color: #FF7070;
}

.adonis {
    color: #70FF70;
}

.vs {
    font-size: 19px;
}