.qualities {
    display: flex;
    justify-content: flex-end;
}

.qualities > h3 {
    margin-right: 1.3vw;
    color: white;
    align-self: center;
}

.bar {
    color: white;
    align-self: center;
}